<!DOCTYPE html>
<html>
  <head>
    <title>Dyno - Learn words on the go</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'website' %>
  </head>

  <body class="<%= devise_controller? ? "devise" : "dyno"%>">

    <div class="flashes">
      <% flash.each do |name, msg| %>
        <% if name.in?(['notice', 'alert']) && msg.present? %>
          <p class="<%= name %>">
            <%= msg %>
          </p>
        <% end %>
      <% end %>
    </div>

    <header>
      <div class="logo">
        <a href="/">
          <%= image_tag('logo-only.svg') %>
          <div class="text">dyno</div>
        </a>
      </div>
    </header>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
