<!DOCTYPE html>
<html>
  <head>
    <title>Dyno - Learn words on the go</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'website' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">
          <%= image_tag('logo-only.svg') %>
          <div class="text">dyno</div>
        </a>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
